<!DOCTYPE html>
<html>

<head>
    <title>Welcome in OnlineCourses</title>
</head>

<body>
<h1>Greetings in OnlineCourses!</h1>
<p>Dear, </p>
<b th:text="${username}"></b>
<p>Welcome to the OnlineCourses community - an innovative online learning platform. We're delighted to have you on
    board, and thank you for choosing our app!</p>

<p> OnlineCourses is the place where you'll discover a wealth of knowledge and gain skills to help you achieve your
    personal and professional goals. Our courses are carefully crafted by experts from various fields to provide you
    with the highest quality education.</p>

<p>Best Regards,<br> OnlineCourses Team</p>
</body>

</html>